
<!DOCTYPE html>
<html>
<head>
<title>Express</title>
<h1> <%- title %> </h1>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <form action="http://localhost:3000/sayHello" method="POST">Name: 
        <input type="text" name="name"/>
        <input type="submit" value="Submit"/>
      </form>
</body>
</html>

