extends layout


block content
  h1= title
  p Welcome to #{title}
  html
  body
    form(action='http://localhost:3000/sayHello', method='POST')
      |Name: 
      input(type='text', name='name')        
      input(type='submit', value='Submit')