<<<<<<< HEAD
<form method="post" enctype="multipart/form-data" action="pictureup" name="file">
=======
<form method="post" enctype="multipart/form-data" action="picture\" name="file" id="formwrap">
>>>>>>> 4687663b6b20238e44f15825bd1cc720b1d8640e
    <input type="file" accept="image/png, image/jpeg" onchange="loadFile(event)" name="file">
    <img id="output"/>
    <script>
        var loadFile = function(event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
    <input onclick="window.location.href = '/picture/ShowUploadedPic';" type="submit" value="Submit">
</form>
